

//TIPOGRAFIA
$fuente_principal: 'Montserrat', sans-serif;

//COLORES 
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

//TAMAÑOS DE MEDIA QUERIES
$telefono: 480px;
$tablet: 720px;
$desktop: 992px;
$desktopXL: 1200px;